<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Analytics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h2>Site Analytics</h2>
    <div class="body-center">
        <table>
            <thead>
            <tr>
                <th> Request </th>
                <th> Count </th>
            </tr>
            </thead>
            <tbody>
                <tr th:if="${requestsPerType.empty}">
                    <td colspan="2"> No Requests Yet! </td>
                </tr>
                <tr th:each="request : ${requestsPerType}">
                    <td th:text="${request.key}">hello</td>
                    <td th:text="${request.value}">hi</td>
                </tr>
            </tbody>
        </table>

        <p><a class="button" href="/">Home Page</a></p>
    </div>
</body>
</html>